################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mastermind
/mastermind.app/bin/Debug/netcoreapp2.1
